.env
.env.*
!.env.example

venv/
.venv/
env/
.git/
.gitignore
.gitattributes

__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.Python

.ruff_cache/
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/

.idea/
.vscode/
.DS_Store

README.md
tests/
*.md
!alembic/README

*.sqlite
*.db

Dockerfile
docker-compose.yml
.dockerignore
